.idea/
.DS_Store
node_modules/
package-lock.json
package.json
/*/*main.py
/*/__pycache__
/*/tests/__pycache__/
/0x0B-python-input_output/*.json
/0x07-python-test_driven_development/102-t*
/0x0B-python-input_output/101-g*
/0x0B-python-input_output/8-my_class.py
/0x0B-python-input_output/*.txt
/0x0C-python-almost_a_circle/main/
/0x0C-python-almost_a_circle/*.json
/0x0C-python-almost_a_circle/*.csv
/0x1*/*-main.js
/0x13-javascript_objects_scopes_closures/*-data.js
/0x0F-python-object_relational_mapping/*.sql
/0x0F-python-object_relational_mapping/6-model_state.py
/0x10-python-network_0/my_json_*
/0x14-javascript-web_scraping/cisfun
/0x14-javascript-web_scraping/my_file.txt
