.idea/
.DS_Store
/*/*main.py
/*/__pycache__
/0x0B-python-input_output/*.json
/0x07-python-test_driven_development/102-t*
/0x0B-python-input_output/101-generator.py
/0x0B-python-input_output/8-my_class.py
/0x0B-python-input_output/append_after_100.txt
/0x0B-python-input_output/my_file_0.txt
